form a {
  margin-left: 5px;
}

.input-width {
  width: 40px;
}

.workType-width {
  width: 100px;
}

.sum-chart-width {
  width: 70px;
}

.red-text {
  color: red;
}

.green-color {
 background-color: rgb(0, 255, 128);
}

.black-color {
 background-color: rgb(0, 0, 0);
}

.red-color {
 background-color: rgb(255, 0, 0);
}

.purple-color {
 background-color: rgb(255, 0, 191);
}

.grey-color {
 background-color: rgb(134, 121, 121);
}

.blue-color {
  background-color: rgb(0, 64, 255);
}

.legend-text {
  font-size: 12px;
}

.legend-subHeader {
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 12px;
}

.legend-header {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(134, 121, 121, 0.5);
  text-align: center;
  margin-bottom: 0px;
}

.active {
  background-color: red !important;
  color: green;
}

. react-navbar {
  background-color: blue;
}